.activity {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 800px;
    position: relative;
}

.activity-img {
    width: 100%;
    height: 40%;
}

.activity-info {
    padding: 0 10px 20px;
}

.add-to-list-btn {
    width: 100%;
    padding: 15px;
    border: none;
    background: #17224D;
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    bottom: 0;
}

.add-to-list-btn:hover {
    background-image: linear-gradient(to right, #17224D, #17E9E1);
}

@media (max-width: 400px) {
    .activity-info {
        margin-bottom: 10%;
    }
}