.club {
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #17224D;
}

.activities-container {
    margin: 5%;
}

.club-title {
    display: flex;
    align-items: center;
}

.club-logo {
    height: 50px;
    width: 50px;
}

.club-name {
    margin-left: 5px;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 40px;
}

.details-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 1800px) {
    .activities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1300px) {
    .club {
        grid-template-columns: 2fr 1fr;
    }

    .activities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1150px) {
    .club {
        grid-template-columns: 1fr 1fr;
    }

    .activities {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 800px) {
    .club {
        grid-template-columns: 1fr;
    }

    .activities {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 750px) {
    .club {
        grid-template-columns: 1fr;
    }

    .activities {
        grid-template-columns: repeat(1, 1fr);
    }
}